@model project_c.Models.Users.User;

@{
    ViewBag.Title = "Mijn profiel";
    Layout = "_Layout";
}

<div class="inline-block relative bg-white my-2 pb-6 h-full w-full overflow-hidden rounded-lg shadow-sm mx-auto">
    <a class="absolute top-0 left-0 z-10 block px-4 py-2 m-1 border border-transparent text-base font-medium rounded-md text-white bg-green-500 hover:bg-green-600 text-center" 
           asp-area="Identity" asp-page="/Account/Manage/Profile">Wijzig profiel</a>
    <div class="relative h-40">
        @if (Model.ProfileBanner != null)
        {
            <img class="absolute h-full w-full object-cover" src="@Model.ProfileBanner">
        }
        else
        {
            <img class="absolute h-full w-full object-cover" src="/Images/banner-home.png">
        }

    </div>
    <div class="relative shadow mx-auto h-24 w-24 -my-12 border-white rounded-full overflow-hidden border-4">
        @if (Model.Avatar != null)
        {
            <img class="profile-pic object-cover w-full h-full" src="@Model.Avatar" alt="avatar">
        }
        else
        {
            <img class="profile-pic object-cover w-full h-full" src="/Images/avatar.png">
        }
    </div>
    <div class="mt-16">
        <h1 class="text-lg text-center font-semibold">
            @Model.FirstName
        </h1>
        <p class="text-sm text-gray-600 text-center">
            @Model.Bio
        </p>
    </div>
    <div class="mt-6 pt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mx-6 border-t">
        @foreach (var plant in Model.Plants.OrderByDescending(p => p.Creation))
        {
            <div class="rounded overflow-hidden shadow-lg">
                <a asp-controller="Plants" asp-action="Details" asp-route-id="@plant.PlantId">
                    <img class="w-full plant-image" src="@plant.ImgUrl" alt="plantfoto">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">@plant.Name</div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
<div class="justify-center text-center items-center inline-flex grid grid-cols-12">
    <div class="gap-4 inline-block" style="min-height: 100px">
        <div class="max-w-sm rounded overflow-hidden shadow-lg inline-block">
        </div>
    </div>
</div>
