@using Microsoft.AspNetCore.Identity
@using project_c.Helpers
@using project_c.Models.Users
@inject UserManager<User> _userManager;
@inject DataContext _context;     
@addTagHelper *, HtmlHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - project_c</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d8d93d0727.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/main.css"/>
</head>
<body>
<header>
    <div>
        <nav class="bg-green-500 text-white">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="container mx-auto flex items-center justify-between h-16">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="h-8 w-8" src="https://www.flaticon.com/svg/static/icons/svg/1590/1590412.svg" alt="Workflow logo">
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4">
                                <a class="@Html.IsSelected("Home", "Index") px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-green-800 active:bg-green-800 focus:outline-none focus:text-white focus:bg-green-800" asp-area="" asp-controller="Home" asp-action="Index">Plantjes</a>

                                <a class="@Html.IsSelected("Plants", "Index") px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-green-800 active:bg-green-800 focus:outline-none focus:text-white focus:bg-green-800" asp-area="" asp-controller="Plants" asp-action="Index">Plants</a>

                                <a class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-green-800 focus:outline-none focus:text-white focus:bg-green-800 active:bg-green-800" asp-area="" asp-controller="Administration" asp-action="ListRoles">Roles</a>

                                <a class="@Html.IsSelected("Home", "Ons") px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-green-800 active:bg-green-800 focus:outline-none focus:text-white focus:bg-green-800" asp-area="" asp-controller="Home" asp-action="Ons">Over ons</a>

                                <a class="@Html.IsSelected("Home", "Voorwaarden") px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-green-800 active:bg-green-800 focus:outline-none focus:text-white focus:bg-green-800" asp-area="" asp-controller="Home" asp-action="Voorwaarden">Voorwaarden</a>

                                <a class="@Html.IsSelected("Home", "Faq") px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-green-800 active:bg-green-800 focus:outline-none focus:text-white focus:bg-green-800" asp-area="" asp-controller="Home" asp-action="Faq">Faq</a>

                            </div>
                        </div>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-4 flex items-center md:ml-6">
                            <button class="p-1 border-2 border-transparent text-white rounded-full hover:text-white focus:outline-none focus:text-white focus: active:bg-green-800" aria-label="Notifications">
                                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
                                </svg>
                            </button>

                            <!-- Profile dropdown -->
                            <div class="ml-3 z-50 relative">
                                <div>
                                    <!--hieronder de avatar code-->
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        var usr = await _userManager.GetUserAsync(User);
                                        <button onclick="showMenu()" class="max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none focus:shadow-solid">
                                            @if (usr.Avatar != null)
                                            {
                                                <img class="h-8 w-8 rounded-full" src="@usr.Avatar" alt="">
                                            }
                                            else
                                            {
                                                <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                            }
                                        </button>
                                        <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg">
                                            <div id="show-menu" class="py-1 rounded-md bg-white shadow-xs" role="menu">


                                                <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-gray-600 hover:bg-green-100 focus:outline-none focus:text-white focus:bg-gray-700" asp-controller="Plants" asp-action="mijnPlanten">Mijn planten</a>

                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-gray-600 hover:bg-green-100 focus:outline-none focus:text-white focus:bg-gray-700" asp-controller="Administration" asp-action="ListUsers">Gebruikers wijzigen</a>
                                                    <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-gray-600 hover:bg-green-100 focus:outline-none focus:text-white focus:bg-gray-700" asp-controller="Administration" asp-action="ListRoles">Rollen wijzigen</a>
                                                }

                                                <a class="block px-3 py-2 rounded-md text-base font-medium text-green-700 hover:text-green-700 hover:bg-green-100 active:bg-green-800 focus:outline-none focus:text-white focus:bg-green-800" asp-controller="Home" asp-action="Profiel">Jouw profiel</a>

                                                <a class="block px-3 py-2 rounded-md text-base font-medium text-green-700 hover:text-green-700 hover:bg-green-100 active:bg-green-800 focus:outline-none focus:text-white focus:bg-green-800" id="modify" asp-area="Identity" asp-page="/Account/Manage/Modify">Instellingen</a>

                                                <form method="post" class="pb-0" asp-controller="Account" asp-action="Logout">
                                                    <button style="width: 100%; text-align: left" class="block px-3 py-2 rounded-md text-base font-medium text-green-700 hover:text-green-700 hover:bg-green-100 active:bg-green-800 focus:outline-none focus:text-white focus:bg-green-800" type="submit">Logout</button>
                                                </form>
                                            </div>
                                        </div>
                                    }

                                    else
                                    {
                                        <a class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-green-800 focus:outline-none focus:text-white focus:bg-green-800" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                    }

                                </div>
                                <!--
                                Profile dropdown panel, show/hide based on dropdown state.

                                Entering: "transition ease-out duration-100"
                                From: "transform opacity-0 scale-95"
                                To: "transform opacity-100 scale-100"
                                Leaving: "transition ease-in duration-75"
                                From: "transform opacity-100 scale-100"
                                To: "transform opacity-0 scale-95"
                                -->

                            </div>
                        </div>
                    </div>
                    <div class="-mr-2 flex md:hidden">
                        <!-- Mobile menu button -->
                        <button class="inline-flex items-center justify-center p-2 rounded-md text-white hover:text-white hover:bg-green-800 focus:outline-none focus:bg-green-800 focus:text-white">
                            <!-- Menu open: "hidden", Menu closed: "block" -->
                            <svg class="block h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                            </svg>
                            <!-- Menu open: "block", Menu closed: "hidden" -->
                            <svg class="hidden h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <!--
            Mobile menu, toggle classes based on menu state.

            Open: "block", closed: "hidden"
            -->
            <div class="hidden md:hidden">
                <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                    <a class="px-3 py-2 rounded-md text-sm font-medium text-white bg-green-800 active:bg-green-800 focus:outline-none focus:text-white focus:bg-green-800" asp-area="" asp-controller="Home" asp-action="Index">Plantjes</a>

                    <a class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-green-800 active:bg-green-800 focus:outline-none focus:text-white focus:bg-green-800" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

                    <a class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-green-800 active:bg-green-800 focus:outline-none focus:text-white focus:bg-green-800" asp-area="" asp-controller="Plants" asp-action="Index">Plants</a>

                    <a class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-green-800 active:bg-green-800 focus:outline-none focus:text-white focus:bg-green-800" asp-area="" asp-controller="Home" asp-action="Index">Privacy</a>

                    <a class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-green-800 active:bg-green-800 focus:outline-none focus:text-white focus:bg-green-800" asp-area="" asp-controller="Home" asp-action="Index">Faq</a>

                </div>
                <div class="pt-4 pb-3 border-t border-green-800">
                    <div class="flex items-center px-5 space-x-3">
                        <div class="flex-shrink-0">
                        </div>
                        <div class="space-y-1">
                            <div class="text-base font-medium leading-none text-white">Tom Cook</div>
                            <div class="text-sm font-medium leading-none text-green-500">tom@example.com</div>
                        </div>
                    </div>

                    }

                </div>
            </div>
        </nav>
    </div>

</header>
@{ string container = ViewData["ContainerClass"] != null ? "" : "container "; }
<div class="@container mx-auto">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<div class="fixed z-10 right-0 origin-top-right " style="top: 50%; transform: rotate(-90deg) translate(0, -130%);">
    <a asp-controller="Home" asp-action="Feedback" class="bg-green-600 rounded-t-lg p-3 text-base text-bold text-white hover:bg-green-400 tracking-wide">Feedback</a>
</div>

@if (User.Identity.IsAuthenticated)
    {
    <button class="fixed bottom-0 right-0 m-3 bg-green-600 px-5 py-3 mt-2 border border-transparent font-bold rounded-full flex z-10" id="chat-open">
        <svg style="height: 20px; width: auto" class="sm:mr-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45pt" height="40pt" viewBox="0 0 45 40" version="1.1">
            <g id="surface1">
                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(255,255,255);fill-opacity:1;" d="M 41.5625 30.171875 C 43.710938 28.054688 45 25.398438 45 22.5 C 45 16.25 39.023438 11.085938 31.234375 10.164062 C 28.773438 5.664062 22.992188 2.5 16.25 2.5 C 7.273438 2.5 0 8.09375 0 15 C 0 17.890625 1.289062 20.546875 3.4375 22.671875 C 2.242188 25.070312 0.523438 26.929688 0.492188 26.960938 C 0 27.484375 -0.140625 28.25 0.148438 28.914062 C 0.429688 29.578125 1.085938 30.007812 1.804688 30.007812 C 5.984375 30.007812 9.359375 28.429688 11.585938 26.976562 C 12.304688 27.140625 13.046875 27.265625 13.804688 27.359375 C 16.257812 31.84375 22.015625 35 28.75 35 C 30.375 35 31.9375 34.8125 33.421875 34.46875 C 35.648438 35.914062 39.015625 37.5 43.203125 37.5 C 43.921875 37.5 44.570312 37.070312 44.859375 36.40625 C 45.140625 35.742188 45.007812 34.976562 44.515625 34.453125 C 44.484375 34.429688 42.757812 32.570312 41.5625 30.171875 Z M 10.875 22.960938 L 9.539062 23.828125 C 8.4375 24.539062 7.3125 25.101562 6.171875 25.5 C 6.382812 25.132812 6.59375 24.742188 6.796875 24.34375 L 8.007812 21.914062 L 6.070312 20 C 5.015625 18.953125 3.75 17.242188 3.75 15 C 3.75 10.257812 9.476562 6.25 16.25 6.25 C 23.023438 6.25 28.75 10.257812 28.75 15 C 28.75 19.742188 23.023438 23.75 16.25 23.75 C 14.960938 23.75 13.671875 23.601562 12.421875 23.3125 Z M 38.929688 27.5 L 37 29.40625 L 38.210938 31.835938 C 38.414062 32.234375 38.625 32.625 38.835938 32.992188 C 37.695312 32.59375 36.570312 32.03125 35.46875 31.320312 L 34.132812 30.453125 L 32.578125 30.8125 C 31.328125 31.101562 30.039062 31.25 28.75 31.25 C 24.53125 31.25 20.765625 29.679688 18.492188 27.367188 C 26.40625 26.523438 32.5 21.320312 32.5 15 C 32.5 14.734375 32.46875 14.476562 32.445312 14.21875 C 37.476562 15.351562 41.25 18.65625 41.25 22.5 C 41.25 24.742188 39.984375 26.453125 38.929688 27.5 Z M 38.929688 27.5 "/>
            </g>
        </svg>
        <span class="hidden sm:block text-xl1 text-white font-bold">CHAT</span>
    </button>
    
        <div class="fixed bottom-0 right-0 md:m-3 bg-gray-100 chat-menu border z-20 md:rounded-md hidden" id="chat-screen">
            <div class="w-full p-1 text-center bg-green-600 md:rounded-t-md flex" id="chat-overview-header">
                <button id="chat-close">
                    <svg style="height:24px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30pt" height="43pt" viewBox="0 0 30 43" version="1.1">
                        <g id="surface1">
                            <path style="stroke:none;fill-rule:nonzero;fill:rgb(255,255,255);fill-opacity:1;" d="M 20.6875 21.5 L 29.214844 13.09375 C 30.261719 12.0625 30.261719 10.390625 29.214844 9.359375 L 27.320312 7.492188 C 26.273438 6.460938 24.574219 6.460938 23.527344 7.492188 L 15 15.898438 L 6.472656 7.492188 C 5.425781 6.460938 3.726562 6.460938 2.679688 7.492188 L 0.785156 9.359375 C -0.261719 10.390625 -0.261719 12.0625 0.785156 13.09375 L 9.3125 21.5 L 0.785156 29.90625 C -0.261719 30.9375 -0.261719 32.609375 0.785156 33.640625 L 2.679688 35.507812 C 3.726562 36.539062 5.425781 36.539062 6.472656 35.507812 L 15 27.101562 L 23.527344 35.507812 C 24.574219 36.539062 26.273438 36.539062 27.320312 35.507812 L 29.214844 33.640625 C 30.261719 32.609375 30.261719 30.9375 29.214844 29.90625 Z M 20.6875 21.5 "/>
                        </g>
                    </svg>
                </button>
                <p class="text-1xl text-white font-bold m-3 w-full-custom">Chat overzicht</p>
            </div>
            <div class="w-full overflow-y-auto" id="chat-rooms">

            </div>
            <div class="hidden w-full absolute top-0 w-full h-full" id="chat-loader">
                <div class="loader-chat"></div>
            </div>
            <div class="w-full p-1 text-center bg-green-600 md:rounded-t-md flex hidden" id="chat-header">
                <button id="chat-room-return">
                    <svg style="height:24px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25pt" height="40pt" viewBox="0 0 25 40" version="1.1">
                        <g id="surface1">
                            <path style=" stroke:none;fill-rule:nonzero;fill:rgb(255,255,255);fill-opacity:1;" d="M 2.695312 18.675781 L 17.878906 3.492188 C 18.613281 2.757812 19.800781 2.757812 20.53125 3.492188 L 22.304688 5.261719 C 23.035156 5.992188 23.035156 7.179688 22.304688 7.910156 L 10.273438 20 L 22.304688 32.089844 C 23.035156 32.824219 23.035156 34.007812 22.300781 34.738281 L 20.53125 36.507812 C 19.800781 37.242188 18.613281 37.242188 17.878906 36.507812 L 2.695312 21.324219 C 1.964844 20.59375 1.964844 19.40625 2.695312 18.675781 Z M 2.695312 18.675781 "/>
                        </g>
                    </svg>
                </button>
                <img class="m-2 h-8 w-8 rounded-full" id="avatar-place" src="" alt="">
                <p class="text-1xl text-white font-bold m-3" id="name-place"></p>
                <button class="ml-auto" id="chat-room-close">
                    <svg style="height:24px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30pt" height="43pt" viewBox="0 0 30 43" version="1.1">
                        <g id="surface1">
                            <path style="stroke:none;fill-rule:nonzero;fill:rgb(255,255,255);fill-opacity:1;" d="M 20.6875 21.5 L 29.214844 13.09375 C 30.261719 12.0625 30.261719 10.390625 29.214844 9.359375 L 27.320312 7.492188 C 26.273438 6.460938 24.574219 6.460938 23.527344 7.492188 L 15 15.898438 L 6.472656 7.492188 C 5.425781 6.460938 3.726562 6.460938 2.679688 7.492188 L 0.785156 9.359375 C -0.261719 10.390625 -0.261719 12.0625 0.785156 13.09375 L 9.3125 21.5 L 0.785156 29.90625 C -0.261719 30.9375 -0.261719 32.609375 0.785156 33.640625 L 2.679688 35.507812 C 3.726562 36.539062 5.425781 36.539062 6.472656 35.507812 L 15 27.101562 L 23.527344 35.507812 C 24.574219 36.539062 26.273438 36.539062 27.320312 35.507812 L 29.214844 33.640625 C 30.261719 32.609375 30.261719 30.9375 29.214844 29.90625 Z M 20.6875 21.5 "/>
                        </g>
                    </svg>
                </button>
            </div>
            <div id="message-view" class="overflow-y-auto bg-white hidden">
            </div>
            <div class="w-full p-1 text-center bg-green-600 md:rounded-b-md flex hidden" id="chat-controls">
                <input class="w-full m-1 border border-gray-700 bg-white h-10 px-5 pr-16 text-sm focus:outline-none" type="text" id="message-box" name="message">
                <input type="hidden" id="message-userid">
                <button type="button" id="send-button">
                    <svg style="height: 24px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40pt" height="40pt" viewBox="0 0 40 40" version="1.1">
                        <g id="surface1">
                            <path style=" stroke:none;fill-rule:nonzero;fill:rgb(255,255,255);fill-opacity:1;" d="M 34.375 0.507812 L 1.875 19.25 C -0.8125 20.804688 -0.554688 24.78125 2.320312 25.960938 L 11.25 29.65625 L 11.25 36.25 C 11.25 39.875 15.875 41.367188 18.015625 38.484375 L 21.4375 33.867188 L 30.179688 37.476562 C 30.640625 37.664062 31.125 37.757812 31.609375 37.757812 C 32.25 37.757812 32.882812 37.59375 33.453125 37.273438 C 34.453125 36.710938 35.140625 35.710938 35.320312 34.578125 L 39.960938 4.328125 C 40.4375 1.195312 37.078125 -1.046875 34.375 0.507812 Z M 15 36.25 L 15 31.203125 L 17.859375 32.382812 Z M 31.609375 34.007812 L 19.59375 29.046875 L 30.546875 13.242188 C 31.382812 12.03125 29.804688 10.625 28.695312 11.585938 L 12.171875 25.984375 L 3.75 22.5 L 36.25 3.75 Z M 31.609375 34.007812 "/>
                        </g>
                    </svg>
                </button>
            </div>
        </div>
        <div class="bg-red-700 text-white fixed z-10 right-0 text-xs font-bold rounded-full pl-2 pr-2 pt-1 pb-1 mr-2 hidden" id="message-count">
        </div>
}
<footer id="footer" class="w-full h-60 bg-green-500" style="height: 200px">

</footer>
<script src="~/main.js" asp-append-version="true"></script>
<script>
    var x = document.getElementById("show-menu");
    if (x !== null){
    x.style.display = "none";
    function showMenu() {
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }}
</script>
@RenderSection("Scripts", required: false)
</body>
</html>