@model project_c.ViewModels.PlantViewModel;
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<section class="text-gray-700 body-font overflow-hidden bg-white">
@{
    foreach (var plant in Model.Plant)
    {
        <div class="container px-5 py-24 mx-auto inline">
                <button onclick="goBack()" class="hover:bg-white duration-200 focus:outline-none focus:outline-none font-bold h-10 inline-flex items-center pl-2 pr-2 justify-center px-6 text-white tracking-wide transition w-26">
                    <svg class="ruler-icon" widh="30" height="30" viewBox="0 0 20 20">
                        <path fill="#00a135" d="M8.388,10.049l4.76-4.873c0.303-0.31,0.297-0.804-0.012-1.105c-0.309-0.304-0.803-0.293-1.105,0.012L6.726,9.516c-0.303,0.31-0.296,0.805,0.012,1.105l5.433,5.307c0.152,0.148,0.35,0.223,0.547,0.223c0.203,0,0.406-0.08,0.559-0.236c0.303-0.309,0.295-0.803-0.012-1.104L8.388,10.049z" />
                        <span class="text-green-500 text-xl hover:text-green-700">
                            Back
                        </span>
                    </svg>
                </button>
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
                <img class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200" src="@plant.ImgUrl" alt="Plant foto">
                <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                    <div class="text-green-700 text-3xl title-font font-bold mb-1">@plant.Name</div>
                    <div class="flex border-t border-gray-300 mt-5 pt-5"></div>
               			@{
                        var totalRating = 0;
                        var plantRating = 0;
                        var aantalRatings = 0;
                        if (Model.Rating.Count() != 0)
                        {
                            aantalRatings = Model.Rating.Count();
                        }

                        foreach (var item in Model.Rating)
                        {
                            totalRating += item.Rating;
                        }
                        if (Model.Rating.Count() != 0)
                        {
                            plantRating += totalRating / aantalRatings;
                        }
                        var defaultStars = 5 - plantRating;
                        <span>Rating:</span>
                        <span style="color: #10B981">
                            @for (int i = 1; i <= plantRating; i++)
                            {
                                <i class="fas fa-star"></i>
                            }
                            @for (int i = 1; i <= defaultStars; i++)
                            {
                                <i class="far fa-star"></i>
                            }
                        </span>
                        <span>(@aantalRatings)</span>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        @foreach (var item in Model.Rating)
                        {
                            if (item.UserId == Model.UserId)
                            {
                                var userRating = item;
                                var defaultRating = 5 - userRating.Rating;
                                <div class="my-3" id="user-rating">
                                    <span>Mijn Rating:</span>
                                    <span style="color: #10B981">
                                        @for (int i = 1; i <= userRating.Rating; i++)
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                        @for (int i = 1; i <= defaultRating; i++)
                                        {
                                            <i class="far fa-star"></i>
                                        }
                                    </span>
                                    <button class="mx-2 text-blue-500  hover:underline" id="editFormButton" onclick="showEditForm()">Wijzig</button>
                                    <span>
                                        <button class="text-red-500 hover:underline" onclick="showDeleteConfirmation()">Delete</button>
                                    </span>
                                    <div class="inline-block">
                                        @using (Html.BeginForm("DeleteRating", "Plants", new {id = item.Id, routingId = plant.PlantId}, FormMethod.Post))
                                        {
                                            <div id="delete_confirmation">
                                                <div class="pr-16 relative">
                                                    <div class="bg-white rounded-lg shadow-md p-4 border-1 border-gray-400 w-64 mb-8">
                                                        <div class="relative">
                                                            <span class="block absolute bottom-0 shadow-md w-3 h-3 right-0" style="right:-30px;background-color: inherit; transform: translateX(-6px) rotate(45deg); pointer-events: none; box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1);">&nbsp;</span>
                                                            <p class="block mb-1 text-gray-900 leading-tight mb-4">
                                                                Weet u zeker dat u uw rating wilt verwijderen?
                                                            </p>
                                                            <div class="block flex flex-wrap w-full mx-5">
                                                                <a style="cursor: pointer" onclick="showDeleteConfirmation()" class="rounded-l justify-center p-2 text-xs font-bold bg-green-500 text-white flex w-1/3 mx-3">Cancel</a>
                                                                <button type="submit" class="rounded-r justify-center p-2 text-xs bg-red-500 text-white  flex w-1/3">Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                @using (Html.BeginForm("EditRating", "Plants", new {id = item.Id, routingId = plant.PlantId}, FormMethod.Post))
                                {
                                    <div id="editForm" class="flex flex-wrap -mx-3 mb-6">
                                        <h2 class="px-2 pt-3 pb-2 text-gray-800 text-m">Wijzig rating</h2>
                                        <div class="w-full md:w-full px-3 mb-2 mt-2">
                                            @if (item.UserId == Model.UserId)
                                            {
                                                <div class="my-3" id="user-rating">
                                                    <span>Mijn Rating:</span>
                                                    <span style="color: #10B981">
                                                        <i class="ratingStar far fa-star" data-value="1"></i>
                                                        <i class="ratingStar far fa-star" data-value="2"></i>
                                                        <i class="ratingStar far fa-star" data-value="3"></i>
                                                        <i class="ratingStar far fa-star" data-value="4"></i>
                                                        <i class="ratingStar far fa-star" data-value="5"></i>
                                                    </span>
                                                </div>
                                                <input type="hidden" name="rating" id="ratingsValue" required>
                                            }
                                        </div>
                                        <div class="w-full md:w-full flex items-start md:w-full px-3">
                                            <div class="-mr-1">
                                                <button onsubmit="checkUserRating()" type='submit' class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100">Opslaan</button>
                                                <a onclick="showEditForm()" href="#" class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        @foreach (var item in @Model.Plant)
                        {
                            if (item.UserId != Model.UserId)
                            {
                                <div class="my-2" id="rating-button">
                                    <button onclick="showRatingForm()" class="bg-gray-100 border border-gray-400 px-3 py-1 rounded  text-gray-800 mt-2">Geef rating</button>
                                </div>
                            }
                        }
                        <div id="rating_form" class="mb-4">
                            @using (Html.BeginForm("AddRating", "Plants", new {id = plant.PlantId}, FormMethod.Post))
                            {
                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">Geef een rating</h2>
                                    <div class="w-full md:w-full px-3 mb-2 mt-2">
                                        <span style="color: #10B981">
                                            <i class="ratingStar far fa-star" data-value="1"></i>
                                            <i class="ratingStar far fa-star" data-value="2"></i>
                                            <i class="ratingStar far fa-star" data-value="3"></i>
                                            <i class="ratingStar far fa-star" data-value="4"></i>
                                            <i class="ratingStar far fa-star" data-value="5"></i>
                                        </span>
                                        <input type="hidden" name="rating" id="ratingsValue" required>
                                    </div>
                                    <div class="w-full md:w-full flex items-start md:w-full px-3">
                                        <div class="-mr-1">
                                            <button onsubmit="checkUserRating()" type='submit' class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    <div class="rounded-full bg-green-400 duration-200 focus:outline-none focus:shadow-outline font-bold h-10 inline-flex items-center pl-2 pr-2 justify-center px-6 text-white tracking-wide transition w-16">
                        <span>
                            @plant.Length&nbsp;cm
                        </span>
                    </div>
                    <p class="text-gray-600 font-serif text-xl leading-relaxed pr-8">
                        @plant.Description
                    </p>
                    <p class="text-gray-600 font-serif text-xl leading-relaxed pr-8">
                        Huidig Aanbod: @plant.Quantity
                    </p>
                    <div class="flex border-t border-gray-300 mt-5 pt-5"></div>
                    <h6>Geupload door:</h6><div class="font-bold text-l mb-2">@plant.User.UserName op @plant.Creation.ToString("dd MMMM, yyyy")</div>
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            <h6>Huidige karma:</h6><div class="font-bold text-l mb-2">@plant.User.UserData.Karma</div>
                            <br />
                            <div class="flex space-x-3">
                                <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                                   href="/plants/edit/@plant.PlantId">Edit</a>
                                @using (Html.BeginForm("Delete", "Plants", new { id = plant.PlantId }, FormMethod.Post))
                                {
                                    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" type="submit">
                                        Verwijderen
                                    </button>
                                }
                                @if (!plant.HasBeenApproved)
                                {
                                    using (Html.BeginForm("Approve", "Plants", new { id = plant.PlantId }, FormMethod.Post))
                                    {
                                        <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                                                type="submit">
                                            Approve
                                        </button>
                                    }
                                }
                            </div>
                        }
                    }
                </div>
                <button type="submit" class="rounded-full bg-green-500 duration-200 focus:outline-none focus:shadow-outline text-xl font-bold h-24 hover:bg-green-700 inline-flex items-center justify-center px-6 text-white tracking-wide transition w-48">
                    <div class="bg-blue-light shadow-border">
                        <svg class="message-icon" width="65" height="40" viewBox="0 0 20 20">
                            <path fill="currentcolor" d="M17.659,3.681H8.468c-0.211,0-0.383,0.172-0.383,0.383v2.681H2.341c-0.21,0-0.383,0.172-0.383,0.383v6.126c0,0.211,0.172,0.383,0.383,0.383h1.532v2.298c0,0.566,0.554,0.368,0.653,0.27l2.569-2.567h4.437c0.21,0,0.383-0.172,0.383-0.383v-2.681h1.013l2.546,2.567c0.242,0.249,0.652,0.065,0.652-0.27v-2.298h1.533c0.211,0,0.383-0.172,0.383-0.382V4.063C18.042,3.853,17.87,3.681,17.659,3.681 M11.148,12.87H6.937c-0.102,0-0.199,0.04-0.27,0.113l-2.028,2.025v-1.756c0-0.211-0.172-0.383-0.383-0.383H2.724V7.51h5.361v2.68c0,0.21,0.172,0.382,0.383,0.382h2.68V12.87z M17.276,9.807h-1.533c-0.211,0-0.383,0.172-0.383,0.383v1.755L13.356,9.92c-0.07-0.073-0.169-0.113-0.27-0.113H8.851v-5.36h8.425V9.807z"></path>
                            <span>Bericht</span>
                        </svg>
                    </div>
                </button>
            </div>
            </div>
        }
    }
    </section>
<script>
    $(".ratingStar").hover(function () {
        $(".ratingStar").addClass("far").removeClass("fas");
        $(this).addClass("fas").removeClass("far");
        $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
        starValue = $(this).attr("data-value");
        $("#ratingsValue").val(starValue);  
    });

    var form = document.getElementById("rating_form");
    form.style.display = "none";
    function showRatingForm() {
        if (form.style.display === "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
    
    var yourRating = document.getElementById("user-rating");
    var ratingButton = document.getElementById("rating-button");
    var editButton = document.getElementById("editFormButton");
    var editForm = document.getElementById("editForm");
    
    if(yourRating == null) 
    {
       ratingButton.style.display = "show";
       
    } else {
        ratingButton.style.display = "none";
    }
    
    editForm.style.display = "none";
    function showEditForm() {
        if (editForm.style.display === "none") {
            editForm.style.display = "block";
        } else {
            editForm.style.display = "none";
        }
    }
   
    function goBack() {
        window.history.back();
    }
    
    var deleteConfirmation =  document.getElementById("delete_confirmation");
    deleteConfirmation.style.display = "none";
    
    function showDeleteConfirmation() {
        if (deleteConfirmation.style.display === "none") {
            deleteConfirmation.style.display = "block";
        } else {
             deleteConfirmation.style.display = "none";
        }
    }
    
</script>
@if (ViewBag.plantIsEdited) {<script>Swal.fire({position: 'center', icon: 'success', title: 'Plant gewijzigd', showConfirmButton: false, timer: 1500})</script>}
@if (ViewBag.ratingIsCreated) {<script>Swal.fire({position: 'center', icon: 'success', title: 'Rating opgeslagen', showConfirmButton: false, timer: 1500})</script>}
@if (ViewBag.ratingIsDeleted) {<script>Swal.fire({position: 'center', icon: 'success', title: 'Rating verwijderd', showConfirmButton: false, timer: 1500})</script>}
@if (ViewBag.ratingIsEdited) {<script>Swal.fire({position: 'center', icon: 'success', title: 'Rating gewijzigd', showConfirmButton: false, timer: 1500})</script>}
