@model List<Plant>; 
@using project_c.Models.Plants;
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Planten</h2>
<form asp-action="Index" method="get">
    <input type="text" name="naam" placeholder="Voer een plant naam in">
    <button type="submit">Zoeken</button>
</form>
<div class="grid grid-cols-12">
    @* Filters in frontend *@
    <div class="col-span-3">
        <h2>Filters</h2>
        @{ List<Filter> filters = (List<Filter>) ViewData["Filters"]; }
        @foreach (Filter filter in filters)
        {
            <div class="block mb-4">
                <span class="text-gray-700">@filter.Name</span>
                <div class="mt-2">
                    @foreach (Option filterOption  in filter.Options)
                    {
                        <div>
                            <label class="inline-flex items-center">
                                <input type="checkbox" class="form-checkbox filter-checkbox" data-category="@filter.SystemId" name="@filter.SystemId-@filterOption.OptionId" value="@filterOption.OptionId">
                                <span class="ml-2">@filterOption.DisplayName</span>
                            </label>
                        </div>
                    }
                </div>
                
            </div>
        }
        <a asp-controller="Plants" asp-action="Create" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mb-4 mt-4 rounded">
                                    Nieuwe plant
                                </a>
    </div>
    @* Plant overview *@
    <div class="col-span-9 grid grid-cols-3 gap-4 h-fit" id="plantOverview">
        @{
            foreach (var plant in Model)
            {
                if (plant.HasBeenApproved) {
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <a href="/plants/details/@plant.PlantId">
                        <img class="w-full plant-image" src="@plant.ImgUrl" alt="@plant.Name">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">@plant.Name</div>
                        </div>
                    </a>
                </div>
                    }
                }
            }
    </div>
</div>