@model IQueryable<Plant>;
@using project_c.Models.Plants;
@using Microsoft.AspNetCore.Identity
@{
    ViewBag.Title = "Mijn planten";
    Layout = "_Layout";
}
<h1></h1>
<div class="flex mb-4 space-x-3">
    @foreach (var plant in Model)
    {
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <img class="w-full" src="@plant.ImgUrl" alt="Plant foto" style="width: 300px;height: 300px;object-fit: cover;">
            <div class="px-6 py-4">
                <h6>Naam:</h6>
                <div class="font-bold text-xl mb-2">@plant.Name</div>
                <h6>Lengte:</h6>
                <div class="font-bold text-xl mb-2">@plant.Length&nbsp;mm</div>
                <h6>Beschrijving:</h6>
                <p class="text-gray-700 text-base">@plant.Description</p>
                <div class="flex space-x-3">
                    <a id="edit_@plant.PlantId" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                       href="/plants/edit/@plant.PlantId">
                        Edit
                    </a>
                    @using (Html.BeginForm("Delete", "Plants", new {id = plant.PlantId}, FormMethod.Post))
                    {
                        <a id="verwijder_@plant.PlantId" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                                onclick="showPlantDeleteConfirmation(@plant.PlantId)">
                            Verwijderen
                        </a>
                         <div style="display: none" class="pr-16 relative" id="@plant.PlantId">
                             <div class="bg-white rounded-lg shadow-md p-4 border-1 border-gray-400 w-64 mb-8">
                                 <div class="relative">
                                     <span class="block absolute bottom-0 shadow-md w-3 h-3 right-0" style="right:-30px;background-color: inherit; transform: translateX(-6px) rotate(45deg); pointer-events: none; box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1);">&nbsp;</span>
                                     <p class="block mb-1 text-gray-900 leading-tight mb-4">
                                         Weet u zeker dat uw de plant @plant.Name wilt verwijderen?
                                     </p>
                                     <div class="block flex flex-wrap w-full">
                                         <a style="cursor: pointer" id="@plant.PlantId" onclick="showPlantDeleteConfirmation(@plant.PlantId)" class="rounded-l justify-center p-2 text-xs font-bold bg-green-500 text-white flex w-1/2">Cancel</a>
                                         <button type="submit" class="rounded-r justify-center p-2 text-xs bg-red-500 text-white  flex w-1/2">Verwijderen</button>
                                     </div>
                                 </div>
                             </div>
                         </div>
                    }
                </div>
            </div>

        </div>
    }
</div>
<a class="block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-gray-600 hover:bg-green-100 focus:outline-none focus:text-white focus:bg-gray-700" asp-controller="Plants" asp-action="Create">Plant toevoegen</a>

<script>
    
    function showPlantDeleteConfirmation(id) {
         
        var elem = document.getElementById(id);
        var btnEdit = document.getElementById(`edit_${id}`)
        var btnVerwijder = document.getElementById(`verwijder_${id}`)
        
        if (elem.style.display === "block") {
            elem.style.display = "none";
            btnEdit.style.display = "block"
            btnVerwijder.style.display = "block"
        } else {
            elem.style.display = "block";
            btnEdit.style.display = "none"
            btnVerwijder.style.display = "none"
        }
    }
</script>